<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App</title>

    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>

<body>
    <div class="dashboard">
        <h2>CRUD App</h2>

    </div>
    <div class="table-wrapper">
        <h2></h2>
        <a href="/adddata" class="btn btn-primary">Add Data</a>
        <table>
            <tr>
                <th class="table-header">ID</th>
                <th class="table-header">Name</th>
                <th class="table-header">Age</th>
                <th class="table-header">Gender</th>
                <th class="table-header">Weight</th>
                <th class="table-header">Height</th>
                <th class="table-header">Action</th>
            </tr>
            {% for row in data %}
            <tr>
                <td class="table-data">{{ row[0] }}</td>
                <td class="table-data">{{ row[1] }}</td>
                <td class="table-data">{{ row[2] }}</td>
                <td class="table-data">{{ row[3] }}</td>
                <td class="table-data">{{ row[4] }}</td>
                <td class="table-data">{{ row[5] }}</td>
                <td class="table-data">
                    <form method="post" action="{{ url_for('delete_data', id=row[0]) }}">
                        <input type="hidden" name="id" value="{{ row[0] }}">
                        <button class="delbtn" type="submit">Delete</button>
                        <!--edit btn-->
                        <a class="editbtn" href="{{ url_for('edit_data', id=row[0]) }}"
                            class="btn btn-primary common-btn">Edit</a>

                    </form>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</body>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="static/js/script.js"></script>

</html>